* {
	font-family: Arial, sans-serif !important;
	}
	
a img {border: 0px; }		
	
    
.PageBody {
   margin-top: 1%;
   margin-left: 5%;
   margin-right: 5%;
   width: 90%; 
}	
.PageBodyDownload {
    text-align: center;
    margin-top: 10%;
    }
	
/*Buttons*/
.MainButtonIcon, .MainButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
   	font-size: 11px;
   	font-family: inherit;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
   	text-align: center;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.MainButton {
	text-align: center;
	}
	
.doublewidth {
	width: 180px;
	}
.MainButtonIcon:hover, .MainButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
	}
	
.browsenavbuttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
   	font-size: 11px;
   	font-family: inherit;
   	font-weight: bold;
   	padding: 0px;
   	width: 40px;
   	height: 28px;
   	text-align: center;
	cursor: pointer;
	margin-top: 2px;
	}	
	
.browsenavbuttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}
	
.BrowseButtons {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: inherit;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
   	text-align: left;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.BrowseButtons:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}
	

.button-flat {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
	
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    /* margin-top: 2px; */
    text-align: center;
    cursor: pointer;
	white-space: nowrap;
        }
.button-flat:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
    }
.button-flat:disabled {
    display: none;
    }
    
.button-entryfield {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
	
   	font-size: 11px;
   	font-family: inherit;
   	font-weight: bold;
   	width: 164px;
	height: 28px;
    margin-top: 2px;
    margin-right: 4px;
	/* margin: 4px 0 4px 0; */
	
	}
.button-entryfield:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
	}
	
.button-entryfieldwidth div {
	width: 170px;
	}	
.button-inbrowse {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 9px;
   	font-family: inherit;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	width: 90px;
   	height: 28px;
   	text-align: center;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.button-inbrowse:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}


.LookupButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	border:1px solid #ACACAC;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
   font-size:9px;
   font-family:inherit;
   font-weight:normal;
   color:#333333;
   height:2.1em;
   }
.LookupButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}

.MessageBoxButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
	
	display:inline-block;
	color:black;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	text-decoration:none;
	text-align:center;
	padding: 0 10px 0 10px;
	margin: 0 10px 0 10px;
	min-width: 42px;
	cursor: pointer;
}
.MessageBoxButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.SmallButtonIcon, .SmallButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
   font-size:11px;
   font-family:inherit;
   font-weight:bold;
   color:#333333;
   width:58px;
   height:18px;
   text-align: center;
   cursor: pointer;
   }
.SmallButtonIcon:hover, .SmallButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}
.SmallButton:disabled, .SmallButton:hover:disabled {
    color: #dadad1;
    cursor: default;
    background: white;
	display: none;
    }
   
   
.SmallButtonNoWidth {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	border:1px solid #ACACAC;
   font-size:11px;
   font-family:inherit;
   font-weight:bold;
   color:#333333;
   height:18px;
   text-align: center;
   cursor: pointer;
   }   
.SmallButtonNoWidth:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}
.SmallButtonNoWidth:hover:disabled {
    color: #dadad1;
    cursor: default;
    background: white;
	display: none;
    }
      

.ButtonInBrowse {
	font-family: Arial, sans-serif;
	font-size: 9px;
	height: 4em;
	width: 10em;
}

.ThinButton {
  font-family: Arial, sans-serif;
  font-size: 9px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  width: 140px;
  height: 32px;
}

/* Fonts & Colours ================================= */

.formreadonly {
    background-color: #EFEFEF;
}
.DarkRedBold {
    font-family: Arial, sans-serif;
	color: #993300;
	font-weight: bold;
 }
.RedBold {
    font-family: Arial, sans-serif;
	color: #FF0000;
	font-weight: bold;
 }
 .RedBoldSmall {
    font-family: Arial, sans-serif;
	color: #FF0000;
	font-weight: bold;
	font-size: 8pt;

 }

.RedBoldLarge {
    font-family: Arial, sans-serif;
	color: #FF0000;
	font-weight: bold;
    font-size: 10pt;
}

.RedRegular {
    font-family: Arial, sans-serif;
	color: #FF0000;
}

.GreenBold {
    font-family: Arial, sans-serif;
	color: #00888d;
	font-weight: bold;
}

.GreenRegular {
    font-family: Arial, sans-serif;
	color: #00888d;
}

.GreenBoldLarge {
    font-family: Arial, sans-serif;
	color: #00888d;
	font-weight: bold;
    font-size: 10pt;
}

.BlueBold {
    font-family: Arial, sans-serif;
	color: #00b5c5;
	font-weight: bold;
}

.BlueRegular {
    font-family: Arial, sans-serif;
	color: #00b5c5;
}

.BlueBoldLarge {
    font-family: Arial, sans-serif;
	color: #00b5c5;
	font-weight: bold;
    font-size: 10pt;
}
.JustBold {
    font-family: Arial, sans-serif;
	color: #010101;
	font-weight: bold;
}

.SilverRegular {
    font-family: Arial, sans-serif;
    color: #C0C0C0;
    font-weight: normal;
}

.GreyRegular {
    font-family: Arial, sans-serif;
    color: #004080;
    font-weight: normal;
}
.BlackRegular {
    font-family: Arial, sans-serif;
    color: #333333;
    font-weight: normal;
}
.WhiteBold {
    font-family: Arial, sans-serif;
    color: #FEFEFE;
    font-weight: bold;
}
.WhiteRegular {
    font-family: Arial, sans-serif;
    color: #FEFEFE;
    font-weight: normal;
}
.PinkRegular {
    font-family: Arial, sans-serif;
    color: #FF99CC;
    font-weight: normal;
}
.OrangeRegular {
    font-family: Arial, sans-serif;
    color: #FF9900;
    font-weight: normal;
}
.PurpleRegular {
    font-family: Arial, sans-serif;
    color: #993366;
    font-weight: normal;
}


.SmallText {
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal;
}
.SmallTextCenter {
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal !important;
    text-align: center;
}
.SmallTextRight {
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal !important;
    text-align: right;
}
.BottomBannerText {
	left: 100%;
	margin-left: -200px;
	margin-top: -20px;
	position: absolute;
}
.BannerText {
    font-family:  Verdana;
    font-size: 12pt;
    font-weight: bold;
    color: #333333;
}

.BrowseGreen {
    color: #ffffff;
    background-color:#008080;
    text-align: center;
    font-size: 7pt;
}
.BrowseRed {
    color: #ffffff;
    background-color:#ff0000;
    text-align: center;
    font-size: 7pt;
}
.BrowseBlue {
    color: #ffffff;
    background-color:#0000ff;
    text-align: center;
    font-size: 7pt;
}
.BrowsePurple {
    color: #ffffff;
    background-color: #800080;
    text-align: center;
}
.BrowsePink {
    color: #ffffff;
    background-color: #ff00ff;
    text-align: center;
}
.BrowseBlack {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}
td.BrowseWhite {
    background-color: #FFF;
    text-align: center;
}    
.BrowseCentreSmall {
    text-align: center;
    font-size: 7pt;
}
.BrowseLeftSmall {
    text-align: left;
    font-size: 7pt;
}
.BrowseRightSmall {
    text-align: right;
    font-size: 7pt;
}
.LargeText {
    font-size: 14px;
}


/* Entry Formats ================================= */
.TextEntry {
    font-family: Arial, sans-serif;
    font-size: 10px;
    background-color: #FDFDFD;
    border: 1px solid #888;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align:middle;
}
.SelectList {
 	color: #333;
 	border-collapse: collapse;
 	height: 0.6em;
}

.SelectList1 {
 	background-color: #F9F9F9;
 	padding: 3px;
 	height: 0.6em;
	padding-left: 1em;
    border: 0;
}
.SelectList2 {
 	background-color: #FFFFFF;
 	padding: 3px;
 	height: 0.6em;
	padding-left: 1em;
    border: 0;
}


/* Screen Formats ================================= */


.fdiv {
	border-collapse: separate;
    display: inherit;
	}
.fdiv span{
	display: block;
	}

.MyTab {
	background-color: #dadad1;

}
.MyTab table {
	width: -moz-available;
	width: 100%;
		}

.MyTabTitle {
	background-color: #FF0000;
	height: 1em;
	padding: 0.2em;
	border-bottom: 0.5em solid #FFFFFF;
	padding-bottom: 0.7em;

}
.MyTabTitle span{
	color: #FFFFFF;
	font-size: 12px;
	}

.FormCentre, .FormCentreSmall {
	background-color: #FFFFFF;
	padding-top: 0.3em;
	padding-bottom: 0.7em;
	border: 0.1em solid #C0C0C0;
	}
.FormCentreFixed {

}
.FormCentreFixed td {
    width: 350px;
    }

.FormEntry {
	font-family: Arial, sans-serif;
	padding-right: 0;
    /* height: 14px; */
    /* margin: 2px 0px 0px 2px; */
	/* border-color: #333333; */
	}
input.FormEntry {
    height: 14px;
    }
   
select.FormEntry {
	font-family: inherit;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	border: 1px solid #AEAEAE !important;
	outline: none;
    height: 20px;
  }    
select.FormEntry[size*="0"] {
    height: inherit !important;
    }
    
/*Hardcoding the accessory drop downs because IE8 is ignoring the above command*/
#newjobbooking_tmp__showaccessory_value_div select, #newjobbooking_tmp__theaccessory_value_div select {
    height: 200px;
}

#jobaccessories_tmp__showaccessory_value_div select, #jobaccessories_tmp__theaccessory_value_div select {
   height: 300px;
}
/*=====*/
    
.noBorder {
	border: none;
	}

.MainHeading {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #333333;
  font-weight: bold;
  padding-left: 0.4em;

}

.SubHeading {
	background-color: #FF0000;
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	padding: 0.2em;
	padding-left: 0.5em;
	}
.SubHeadingAlt {
	color: #000;
	font-size: 11px;
	font-weight: bold;
	margin-left: 0.2em;
	}


.FormComments {
    font-family: Arial, sans-serif;
    color: #111144;
    font-size: 10px;
}



.FormContents{
	border-right: 0.1em solid #FFFFFF;
	border-bottom: 0.1em solid #FFFFFF;
	border-top: 0.1em solid #C0C0C0;
	border-left: 0.1em solid #C0C0C0;
	}

.hidden {
	visibility: hidden;
	}

#Tab_BannerBlank {
	/* padding: 0.2em; */
	}
.bannerHeading {
	background-color: #FF0000;
	width: 100%;
	}
.BrowseLookup {
	background-color: #FFFFFF;
	margin: 0.3em;
}

/* Fix the width of the waybill generation browses*/
.BrowseWaybill {
    width: 400px;
    }

.FormPrompt2 {
	width: 16em;
	font-size: 11px;
	font-weight: bold;
	}


.FormSubTitle {
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 0px;
  text-align: Left;
  margin-left:auto;
  margin-right: auto;
  border-top: 1px solid #8888ff;
  border-bottom: 1px solid #8888ff;
  color: #333;
  background-color :#fff;
  width: 820px;
}

.alertgreen {
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  background-color :#008000;
  text-align: center;
  width: 950px;
  position: absolute;

}


table.BrowseTable td {
 padding: 2px;
 border-left: 0px solid #AAA;
 border-right: 1px solid #EEE;
 border-bottom: 1px solid #CCC;
 border-top: 1px solid #EEE;
 height: 10px;
}

th a {
    font-size: 11px !important;
    color: #333 !important;
    font-weight: bold !important;
    }

table.BrowseTable th {
	background-image: none;
	border: 1px solid #CCC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;	
    font-size: 11px !important;
    color: #333 !important;
    font-weight: bold !important;
	}

table.BrowseTableTag {
	font-size: 11px;
	color: #333;
	margin: 5px 0px 5px 184px;
	border-color: #888;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	padding: 0px;
	border-spacing: 0px;
}

.CheckBoxPrompt {
 font-weight: bold;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 font-size: 11px;
 float: left;
 margin-right: 5px;

}
.CheckBoxEntry {
 font-weight: bold;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 font-size: 11px;
 margin-right: 5px;
 width: 400px;

}

.alert {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
    height: 18px;
    display:none;
	}

/* Calendar ================================= */
#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:Arial;
	font-size:11px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{

	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}



#calendarDiv .selectBox{
	border:0px solid #E2EBED;
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:0px solid #FFF;
	/*background-color: #317082;*/
	background-color: #FFFFFF;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:0px solid #317082;
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:0px solid #216072;
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	/*background-color: #317082;*/
	background-color: #FFFFFF;
}
/* Active day in the calendar */
#calendarDiv .activeDay{	
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
	background-image: url("/images/titlebar.jpg");
}
#calendarDiv .todaysDate div{
	float:left;
}

#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
    font-family: Arial, sans-serif;
    font-size: 8px;
	width:70px;
	height: 5px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;
	padding:1px;
	margin:1px;
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}
#calendarDiv #calendar_month_txt{
    margin-top: -5px;
    }
#calendarDiv #calendar_year_txt{
    margin-top: -5px;
}

/* Menu Settings */
.chromemenu {
    width: 99.8%;
    margin-bottom: 4px;
    }
.chromemenu ul {
    background: #dadad1;
    }
.chromemenu ul li a{
    font:11px Arial;
    color: #333333;
    padding: 4px 7px;
    margin: 3px;
    text-decoration: none;
    border-right: 1px solid #DADADA;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	border:1px solid #ACACAC;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.chromemenu ul li a:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}
.DropMenu {

    }
.DropMenu a {
    font: 11px Arial;
    font-weight: bold;
    padding: 4px 0;
    }

/* ======== */
.red {
    color:red;
    }
.green {
		color: green;
	}
.bold {
		font-weight: bold;
	}
	
.nt-licence-text iframe{
   /*border: 0 solid #8888ff;*/
   height: 350px;
   width: 100%;
   background-color: #FFFFFF;
   border: 0.1em solid #C0C0C0;
}
	
	
fieldset {
		border: 1px solid #DADAD1;
		margin-top: 5px;
		margin-bottom: 5px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-khtml-border-top-left-radius: 4px;
		-khtml-border-top-right-radius: 4px;
		-khtml-border-bottom-left-radius: 4px;
		-khtml-border-bottom-right-radius: 4px;
	}		
input[type="text"],input[type="password"],textarea {
	font-family: inherit;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	border: 1px solid #AEAEAE !important;
	outline: none;
	padding: 2px;
  }
input[type="checkbox"], input[type="radio"] {
    border: none !important;
    background: none !important;
    }


.Locator {
    font-family: inherit;
    font-weight: bold;
    }

.nt-process {
    margin: 20% auto;
    z-index: 999;
    width: 250px;
    text-align: center;
    background: #FFF;
}
.nt-process-text {
    font-weight: bold;
    color: #444444;
    background-color: #FFF;
    }

.NoShow {
  visibility: hidden;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0px;
  left: 0px;
}
.hidden {
	display: none !important;
	width: 0 !important;
	}
.nt-licence-text {
	width: 99.8%;
	font-family: inherit;
	}	
.fixedwidth-90 > td{
    width: 90px;
    }
.fixedwidth-180 {
	width: 180px;
	}	
.fixedtd >td {
    width: 1px;
    }
.JobStageForm {
	background-color: #FFFFFF;
}
.JobStageTab {
	width: 260px;
	margin-top: -5px;
	margin-left: 20px;
	margin-right: -12px;
}

.fullWidth {
	width:100%;
}
#Tab_CustomerServicesForm #Tab2 td {
	width: 0px;
}
#formbrowsestock_waiting_value_div, #waiting {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.bdiv {
    /*     top: 64px !important;
        left: 360px !important;
    */
    top: 50%;
    left: 50%;
    z-index: 5000;
    width: 48px;
    height: 48px;
}

/*Progress bar*/
#progressframe {
    text-align: center;
    width: 300px;
    height: 200px;
}
div.smallish-progress-wrapper
{
    /* Don't change the following lines. */
    position: relative;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    height: 24px;
    box-shadow: 0px 0px 4px 0px #E9E9E9;
    width: 300px;
}

div.smallish-progress-bar
{
    /* Don't change the following lines. */
    position: absolute;
    top: 0; left: 0;
    height: 100%;
/*    border-radius: 4px 0 0 4px;*/
    background-color: #FF0000;
}

div.smallish-progress-text
{
    /* Don't change the following lines. */
    text-align: center;
    position: relative;
    /* Add your customizations after this line. */
    font-size: 18px;
    font-weight: normal;
    color: #616060;
    text-shadow: #E9E9E9 0px 0px 4px 0px ;
}

.greenBorder {
    border: 2px solid green !important;
    }

#div-back-warrantyjobalert {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.7;
  top: 0;
  left: 0;
  position: fixed;
  z-index:1000;
  filter:alpha(opacity=70);
}
#div-front-warrantyjobalert {
  text-align: center;
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #888;
  position: fixed;
  top: 20%;
  left: 40%;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
  width: 280px;
  height: 230px;
  background-color: #EFEFEF;
}


#div-back-imeivalidation {
  background-color: white;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  z-index:1000;
  opacity: 0.9;
  overflow: hidden;
  color: white;
  filter:alpha(opacity=90);
}
#div-front-imeivalidation {
  text-align: center;
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #888;
  position: fixed;
  top: 20%;
  left: 40%;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
  width: 280px;
  height: 120px;
  background-color: #EFEFEF;
}
#div-front-imeivalidation input{
    text-align: center;
    }

