/* Entire pane */
.dhtmlgoodies_xpPane{
background-color:#7190e0;
/*background-image:url('../images/taskpanel_bg.png'); */
float:left;
/* height:660px; */
height:100%;
width:150px;
overflow: hidden;
}
.dhtmlgoodies_panel{
margin-left:10px;
margin-right:10px;
margin-top:10px;
border-left:1px solid #FFF;
border-bottom:1px solid #FFF;
font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
font-size:11px;
}

.panelContent{
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size:1em;
background-image:url('../images/bg_pane_right.gif');
background-position:top right;
background-repeat:repeat-y;
border-left:0px solid #FFF;
border-right:0px solid #FFF;
border-bottom:0px solid #FFF;
padding-left:0px;
padding-right:0px;
overflow:hidden;
position:relative;
clear:both;
text-align:left;
}

.panelInside{
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
}

.panelInside a{
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size:1.2em;
}

.topBar{
background-image:url('../images/bg_panel_top_right.gif');
background-repeat:no-repeat;
background-position:top right;
height:25px;
padding-right:5px;
cursor:pointer;
overflow:hidden;
}
.topBar span{
line-height:25px;
vertical-align:middle;
font-family:arial;
font-size:0.7em;
color:#215DC6;
font-weight:bold;
float:left;
padding-left:5px;
font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
font-size:11px;
}
.topBar img{
float:right;
cursor:pointer;
}
